# Pengambilan Data

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_percentage_error
from numpy import array

In [20]:
import pandas as pd
from numpy import array

df = pd.read_excel('/content/PGEO.JK.xlsx')
df

          Date  Open  High  Low  Close   Adj Close     Volume
0   2023-02-24   925   925  815    875  863.872925  584706700
1   2023-02-27   875   875  830    830  819.445190   90183300
2   2023-02-28   815   840  800    800  789.826660   65393800
3   2023-03-01   800   840  800    835  824.381592   43259400
4   2023-03-02   840   875  820    870  858.936523   55298000
..         ...   ...   ...  ...    ...         ...        ...
62  2023-06-08   910   910  855    860  849.063660   11927200
63  2023-06-09   865   865  850    860  849.063660    6627500
64  2023-06-12   860   860  830    855  844.127258   11086600
65  2023-06-13   855   855  830    855  844.127258   25573900
66  2023-06-15   850   850  825    830  830.000000    2763100

[67 rows x 7 columns]

# KNN

In [46]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.preprocessing import MinMaxScaler

# Membaca data saham dari file CSV
data = pd.read_csv('https://raw.githubusercontent.com/Mohammad-Unis-Iswahyudi/kolaborasipro/master/PGEO.JK.csv')

# Mengambil fitur dan target
features = data[['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]
target = data[['Open', 'High', 'Low', 'Close']]

# Normalisasi fitur menggunakan Min-Max scaler
scaler = MinMaxScaler()
features_scaled = scaler.fit_transform(features)

# Reduksi dimensi menggunakan PCA
pca = PCA(n_components=4)
features_pca = pca.fit_transform(features_scaled)

# Membagi data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(features_scaled, target, test_size=0.2, random_state=42)

# Membuat model KNN
knn_model = KNeighborsRegressor(n_neighbors=5)

# Melatih model KNN
knn_model.fit(X_train, y_train)

# Melakukan prediksi pada data uji
y_pred = knn_model.predict(X_test)

# Menghitung MAPE
mape = mean_absolute_percentage_error(y_test, y_pred)
print("MAPE:", mape)

MAPE: 0.016654512698553423

# Random Forest

In [48]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.preprocessing import MinMaxScaler

# Membaca data saham dari file CSV
data = pd.read_csv('https://raw.githubusercontent.com/Mohammad-Unis-Iswahyudi/kolaborasipro/master/PGEO.JK.csv')

# Mengambil fitur dan target
features = data[['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]
target = data[['Open', 'High', 'Low', 'Close']]

# Normalisasi fitur menggunakan Min-Max scaler
scaler = MinMaxScaler()
features_scaled = scaler.fit_transform(features)

# Reduksi dimensi menggunakan PCA
pca = PCA(n_components=4)
features_pca = pca.fit_transform(features_scaled)

# Membagi data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(features_scaled, target, test_size=0.2, random_state=42)

# Membuat model Random Forest Regression
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Melatih model Random Forest Regression
rf_model.fit(X_train, y_train)

# Melakukan prediksi pada data uji
y_pred = rf_model.predict(X_test)

# Menghitung MAPE
mape = mean_absolute_percentage_error(y_test, y_pred)
print("MAPE:", mape)

MAPE: 0.013595038654061888

# Decision Tree

In [50]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA

# Membaca data saham dari file CSV
data = pd.read_csv('https://raw.githubusercontent.com/Mohammad-Unis-Iswahyudi/kolaborasipro/master/PGEO.JK.csv')

# Mengambil fitur dan target
features = data[['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]
target = data[['Open', 'High', 'Low', 'Close']]

# Normalisasi fitur menggunakan Min-Max scaler
scaler = MinMaxScaler()
features_scaled = scaler.fit_transform(features)

# Reduksi dimensi menggunakan PCA
pca = PCA(n_components=4)
features_pca = pca.fit_transform(features_scaled)

# Membagi data menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(features_pca, target, test_size=0.2, random_state=42)

# Membuat model Decision Tree Regression
dt_model = DecisionTreeRegressor(random_state=42)

# Melatih model Decision Tree Regression
dt_model.fit(X_train, y_train)

# Melakukan prediksi pada data uji
y_pred = dt_model.predict(X_test)

# Menghitung MAPE
mape = mean_absolute_percentage_error(y_test, y_pred)
print("MAPE:", mape)

MAPE: 0.016551408007941894